:root {
    --font-color: #474747;
    --bg-color: #fffaf7;
    --button-font-color:#383838;
    --button-bg-color:240, 164, 156;
    --sidebar-font-color:#a6a6a6;
}

[color-mode="dark"] {
    --font-color: #e1e1ff;
    --bg-color:#1f1f1f;
    --button-font-color:#75797d;
    --button-bg-color:147, 164, 184;
}


*{
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

.sidebar{
    /* display: block; */
    width: 5vw;
    height: 5vw;
    position: fixed;
    z-index: 20; 
    top: 0; 
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
    transition: 0.5s ease-in-out;
}

.sidebar a{
    padding: 6px 8px 6px 5vw;
    text-decoration: none;
    color: var(--sidebar-font-color);
    display: block;
    background-color: transparent;
    font-family: Quicksand; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 25px;
    overflow: scroll;
}

.sidebar a:hover {
    color: #f1f1f1;
    transition: background-color 0s ease-in-out;
  }

#home{
    padding: 6px 8px 6px 2vw;
    font-family: Quicksand;
    color: var(--font-color); 
    font-size: 30px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 100; 
    line-height: 80px;
}

.page1{
    color:var(--font-color);
    font-family: Quicksand; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 100; 
    line-height: 28px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.digitalheader{
    display: block;
    position: relative;
    top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    opacity: 0;
}

.digital1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

.digital2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

.gototop {
    width: 50px;
    line-height: 50px;
    overflow: hidden;
    z-index: 25;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 10vh;
    right: 2vw;
    background-color: rgba(var(--button-bg-color),0);
    color: var(--button-font-color);
    /* opacity:1; */
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    transition: background-color 1s ease-out, color 1s ease-out;
}
.gototop:hover {
    background-color: rgba(var(--button-bg-color),0.7);
    color:white;
    
}

.backtohome {
    width: 50px;
    height: 50px;
    z-index: 30;
    cursor: pointer;
    position: fixed;
    bottom: 20vh;
    right: 2vw;
    /* background-color: rgba(var(--button-bg-color),0); */
    background-color: rgba(0, 0, 0, 0);
    color: var(--button-font-color);
    opacity:0.5;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    transition: background-color 1s ease-out, color 1s ease-out;
}

.backtohome:hover {
    /* transition: background-color 2s ease-out; */
    background-color: rgba(var(--button-bg-color),0.7);
    color:white;
    
}

/* ????? */

.homebutton{
    text-decoration: none;
    color: var(--button-font-color);
    background: none;
    transition: background-color 1s ease-out, color 1s ease-out;
}

.homebutton:hover{
    color:white;
}


.lightdark{
    display:fixed;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5vh;
    right: 5vw;
    background-color: var(--button-font-color);
    z-index:10;
    border-radius: 50px;
    text-align: center;
}

.lightdark1{
    z-index: 11;
    position: relative;
    font-size: 40px;
    text-decoration: none;
    background-color: transparent;
    color: var(--bg-color);
    transform: translateX(20%);
    pointer-events: none;
}

.modeswitch{
    z-index: 12;
    display: inline-block;
    height: 50px;
    position: absolute;
    width: 50px;
    border-radius: 50px;
    left: 0vw;
    background-color: transparent;
}

.modeswitch input{
    display: none;
}

.footer{

    background-image: url("../image/footer1.png");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 40%;
    width: 100vw;
    height: 30vh;
    opacity: 0.7;
}

.header{
    position: absolute;
    /* display: block; */
    background-color:#0B0B0B;
    margin: auto;
    width: 7vw;
    height: 7vw;
    top: 5vh;
    left: 50%;
    transform: translate(-50%);
    border-radius: 100%;
    z-index: 100;
    /* transition: width 1s, height 1s, top 1s; */
    /* animation: pageChange 1s; */
}

/* make sure to hide all buttons on the screen */

.header.animated{
    animation: pageChange 1.1s;
}

@keyframes pageChange {
    from {width:7vw; height: 7vw; top: 5vh;}
    to {width: 200vw; height: 200vh; top: -20vh;}
}


/* dsfjakfds*/

/* .header:hover{
    cursor: pointer;
    top: -20vh;
    width: 200vw;
    height: 200vh;
    border-radius: 100%;
} */

/* .header:hover .headerimg {
    opacity: 0;
    bottom: -7vh;
} */

.headerimg{
    background-image: url("../image/icon.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
    z-index: 101;
}

.headerimg.animated{
    animation: headerimgMove 1s;
}

@keyframes headerimgMove{
    from {top: 0vh;}
    to {top: 100vh;}
}

/* .headerimg:hover{
    opacity: 0;
} */

.menn{
    display:block;
    position: absolute;
    /* background-color: #383838; */
    background-color: transparent;
    left:42vw;
    top:17vh;
    width:5vw;
    height:5vw;
    font-size: 20px;
}

.zai{
    display:block;
    position: absolute;
    /* background-color: #383838; */
    background-color: transparent;
    left:53vw;
    top:17vh;
    width:5vw;
    height:5vw;
    font-size: 20px;
}
